import * as React from "react";

class App extends React.Component {
    state = {
        
    }

    render(): React.ReactNode {
        
        return (
            <div className="container">
                <h1>Hello World</h1>
            </div>
        )

    }

}

