import * as App from './app';
import * as React from 'react';
import * as ReactDOM from 'react-dom';
/**
 * App Name
 * 
 * @author <YOUR NAME>
 * @description <App description>
 */
var appContainer = document.getElementById('DOM CONTAINER ID HERE');
ReactDOM.render(<App.default />, appContainer);
