<html>

<head>
    <title>David Yue</title>
    <%- include('./header.ejs') %>

</head>

<body>
    <%- 
    include('./nav.ejs') 
    %>
    <div class="container">
    <h1>About</h1>

    <table>
        <tr>
            <th>
                Office Hours
            </th>
            <td>
                Tuesdays 11pm - 12pm
            </td>
        </tr>
        <tr>
            
        </tr>
    </table>
    </div>



</body>

</html>