<html>

<head>
    <title>David Yue</title>
    <%- include('./header.ejs') %>
    <script src="/js/contact.min.js"></script>
</head>

<body>
    <%- 
    include('./nav.ejs') 
    %>
    <div class="container">
        <h1>TA Courses</h1>
        <table>
            <tr>
                <th>Course</th>
                <th>Resources</th>
            </tr>
            <tr>
                <td>CSC C69 Operating Systems</td>
                <td>
                    <ul>
                        <li>Lecture Slides</li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>

</body>

</html>