<html>

<head>
    <title>David Yue</title>
    <%- include('./header.ejs') %>
</head>

<body>
    <h1>David Yue</h1>
    <%- include('./nav.ejs') %>
    <p>
        
        
    </p>

</body>

</html>