<html>

<head>
    <title>David Yue</title>
    <%- include('./header.ejs') %>
</head>

<body>
    <%- include('./nav.ejs') %>
    <div class="container">
        <h1>David Yue</h1>
        

    </div>

</body>

</html>