<html>

<head>
    <title>David Yue</title>
    <%- include('./header.ejs') %>
    <script src="/js/contact.min.js"></script>
</head>

<body>
    <h1>Notes</h1>
    <%- 
    include('./nav.ejs') 
        
    %>

    <p>
        <b>IMPORTANT:</b> You may use these notes at your own risk. I will not
        be held responsible for potential inaccuracies.
    </p>

    <h3>CSC A48 Introduction to Computer Science I</h3>

    <p>


    </p>

    <hr>

    <h3>CSC B09 Software Tools and Systems Programming</h3>

    <p>
        
    </p>

    <hr>

    <h3>STA B52 Introduction to Probability</h3>
    <hr>

    <h3>CSC C69 Operating Systems</h3>

    <hr>
</body>

</html>