<html>

<head>
    <title>David Yue</title>
    <%- include('./header.ejs') %>
    <script src="/js/contact.min.js"></script>
</head>

<body>

    <%- 
    include('./nav.ejs') 
        
    %>
    <div class="container">
        <h1>Notes</h1>
        <p>
            <b>IMPORTANT:</b> You may use these notes at your own risk. I will not
            be held responsible for potential inaccuracies.
        </p>
        <div class="row">
            <div class="col s6">
                <div class="section">
                    <h5>CSC A48 Introduction to Computer Science I</h5>
                </div>
            </div>
            <div class="col s6">
                <div class="section">
                    <h5>CSC B09 Software Tools and Systems Programming</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <div class="section">
                    <h5>STA B52 Introduction to Probability</h5>
                </div>

            </div>
            <div class="col s6">
                <div class="section">
                    <h5>CSC C69 Operating Systems</h5>
                </div>
            </div>
        </div>
    </div>
</body>

</html>