<!DOCTYPE html> 
<html>
<head>
    <title>David Yue</title>
    <%- include('./header.ejs') %>
</head>

<body>
    <h1>Register</h1>
    <%- include('./nav.ejs') %>

    <p>
        
    </p>

</body>

</html>