<!DOCTYPE html>
<html>

<head>
    <%- include('qa_header.ejs') %>
</head>

<body>
    <%- include("qa_nav.ejs") %>
    <div class="container">

        <div id="post_config_form"></div>

    </div>
    <script src="/react_assets/post_config_form/build/index.js"></script>
    
</body>

</html>