<title>Forum | <%= title %></title>
<meta name="author" content="David Yue">
<meta name="CSRF" value="<%= site.csrf %>"/>
<link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon" />
<link href="/css/qa_layout.css" rel="stylesheet" type="text/css">
<link href="/lib/materializecss/css/materialize.min.css" type="text/css" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- <script src="/lib/materializecss/js/materialize.min.js"></script> -->