<html>
    <head>
        <%- include('qa_header.ejs') %>
    </head>
    <body>
        
        <div id="big-wrap">
            <%- include("qa_nav.ejs") %>
            <h1>Home</h1>
            <p>
                
            </p>


        </div>
    </body>
</html>