<html>
    <head>
        <%- include('qa_header.ejs') %>
    </head>
    <body>
        <%- include("qa_nav.ejs") %>
        <div class="container">
            
            <h1>Home</h1>
            <p>
                
            </p>


        </div>
    </body>
</html>