<html>

<head>
    <%- include('qa_header.ejs') %>
</head>

<body>
    <!-- <script src="/js/login.min.js"></script> -->

    <%- 
    include('../nav.ejs') 
    %>
    <div class="container">
        <h1>Login</h1>
        <p>
            Please enter your login information in the form below.
        </p>
        <div id="login_form"></div>

        <p>
            If you do not have an account. <a href="/qa/signup">Create one.</a>
        </p>
        <small>
            Please note that all information provided by you or your browser may be collected and tracked. You will <b>not</b> be notified of any changes to this data collection policy. Any use of this site is your consent on this policy.
        </small>
    </div>
    <script src="/react_assets/login_form/build/index.js"></script>

</body>

</html>