<html>

<head>
    <%- include('qa_header.ejs') %>
</head>

<body>
    <!-- <script src="/js/signup.min.js"></script> -->
    <%- include('qa_nav.ejs') %>
    <div class="container">
        
        <h1>Sign Up</h1>
        <p>
            Please read the information below before signing up for an account.
        </p>
        <div id="signup_form"></div>
        <div>
            <h3>How to choose a good password</h3>
            <p>
                Yes, the stuff pretty much every site out there will mention...
            </p>
            <p>
                <ul>
                    <li></li>
                </ul>
            </p>
        </div>
    </div>
    <script src="/react_assets/signup_form/build/index.js"></script>

</body>

</html>