<!DOCTYPE html>
<html>

<head>
    <%- include('qa_header.ejs') %>
    <script src="/js/posts/create_post.min.js"></script>
</head>

<body>
    <%- 
    include('../nav.ejs') 
    %>
    <div class="container">
        
        <div id="view_db"></div>

    </div>
    <script src="/react_assets/view_db/build/index.js"></script>
    
</body>

</html>